<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="site-title">
      <h1>{{ site.title }}</h1>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for link in site.data.nav %}
          <li class="nav-link{% if page.url == link.href %} active{% endif %}"><a href="{{ link.href | prepend: site.baseurl }}">{{ link.title }}</a>
        {% endfor %}
        
        {% if false %}
        <!-- alternative social links in nav menu -->
          {% for social in site.social %}
            {% if social.url != null %}
            <li class="nav-link social">
              <a href="{{ social.url }}" title="{{ social.desc }}">
                <i class="fa fa-{{ social.icon }}"></i>
              </a>
            </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
  </div>
</header>