.front {

  #content-header {
    width: 100%;
    max-width: 100%;
    padding: 0;
    position: relative;
    height: 100vh;
    background-position: 40% 50%;
    background-size: auto 85%;
    background-image: url("/assets/PraxisLIVEv5-sm.jpg");
    background-repeat: no-repeat;
    @include media($mobile) {
      background-position: 50%;
      background-attachment: fixed;
      background-image: url("/assets/PraxisLIVEv5.jpg");
    }
    @include media($tablet) {
      background-position: 50%;
    }
  }

  #page-title {
    background-color: rgba($black, 0.75);
    width: 100%;
    padding: 2em;
    position: absolute;
    bottom: 0;
    text-align: center;
    p {
      font-style: italic;
    }

    
    h1, aside {
      display: none;
      @include media($mobile) {
        display: block;
      }
    }
  }
  
  #content {
    padding-top: 3rem;
    .intro {
      text-align: center;
      font-style: italic;
      em {
        font-weight: bold;
      }
    }
    
  }

  .btn-circle {
    width: 2em;
    padding: 0;
    font-size: 2rem;
    border: 2px solid $white;
    border-radius: 100% !important;
    color: white;
    background: transparent;
    transition: background .3s ease-in-out;
    &:hover,
      &:focus {
      outline: none;
      color: white;
      background: rgba($white, 0.4);
    }

  } 

}